.list_item {
  display: inline-block;
}

.list_item:not(:last-child) {
  margin-right: 8px;
}

.link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

