.menu {
  position: absolute;
  top: 85%;
  right: 133px;
  padding: 8px 0;
  list-style: none;
  border: var(--border);
  border-top: none;
  background: var(--modal-menu-background);
}

@media (428px < width < 657px) {
  .menu {
    right: 112px;
  }
}

@media (width < 429px) {
  .menu {
    right: 72px;
  }
}
