.button {
  height: 32px;
  min-width: 12px;
  margin: 12px 12px 12px 0;
  padding: 0 12px;
  max-width: 20rem;
  color: #030303;
  background-color: rgba(0 0 0/ 0.05);
  border: 1px solid rgba(0 0 0/ 0.1);
  border-radius: 16px;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  flex: none;
}
