.menu_expanded {
  position: absolute;
  top: 100%;
  left: 0;
  overflow-y: scroll;
  height: calc(100vh - 100%);
  width: 240px;
}

.menu_shrinked {
  composes: menu_expanded;
  width: auto;
  padding-top: 4px;
}

.header {
  padding: 16px 24px 8px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.list_with_header {
  list-style: none;
  padding: 0 0 8px;
}

.list_without_header {
  list-style: none;
  padding: 8px 0;
}

.list_main {
  list-style: none;
  padding: 12px 0;
}

.list_secondary {
  list-style: none;
  padding: 16px 24px 0;
}

.horizontal_rule {
  border: none;
  border-top: var(--border);
}

.horizontal_rule_inner {
  composes: horizontal_rule;
  margin: 12px 0;
}

.copyright {
  padding: 16px 24px;
  color: #909090;
  font-size: 12px;
  line-height: 18px;
}
