.menu_expanded {
  overflow-y: scroll;
  height: calc(100vh - 56px);
  width: 240px;
  flex: 0 0 auto;
  min-width: 0;
  margin: 56px 0 0;
}

.menu_shrinked {
  height: calc(100vh - 56px);
  flex: 0 0 auto;
  margin: 56px 0 0;
  padding-top: 4px;
}

@media (width < 792px) {
  .menu_shrinked {
    display: none;
  }
}

.plug {
  height: 100vh;
  flex: 0 0 72px;
}

@media (width < 792px) {
  .plug {
    flex: none;
  }
}

.plug::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0 0 0/ 0.5);
  z-index: 4;
}

.overflow_menu {
  composes: menu_expanded;
  position: absolute;
  margin: 0;
  z-index: 5;
  background: #fff;
  height: 100vh;
}

.menu_header {
  composes: left from "../Header/Header.module.css";
  padding: 8px 16px;
  position: sticky;
  top: 0;
  background: #fff;
}

.logo {
  composes: logo from "../Header/Header.module.css";
}

.country_code {
  composes: country_code from "../Header/Header.module.css";
}

.list_header {
  padding: 16px 24px 8px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.list_with_header {
  list-style: none;
  padding: 0 0 8px;
}

.list_without_header {
  list-style: none;
  padding: 8px 0;
}

.list_main {
  list-style: none;
  padding: 12px 0;
}

.list_secondary {
  list-style: none;
  padding: 16px 24px 0;
}

.horizontal_rule {
  border: none;
  border-top: var(--border);
}

.horizontal_rule_inner {
  composes: horizontal_rule;
  margin: 12px 0;
}

.copyright {
  padding: 16px 24px;
  color: #909090;
  font-size: 12px;
  line-height: 18px;
}
