.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  max-height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left */
.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 90px;
  display: block;
  margin-left: 16px;
}

.country_code {
  margin: 4px 0 0 4px;
  font-size: 10px;
  color: #606060;
  align-self: start;
}

/* center */
.center {
  display: flex;
  flex: 0 1 728px;
  max-width: 728px;
  margin-left: 40px;
}

/* right */
.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  min-width: 225px;
}
