.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  max-height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left */
.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 90px;
  display: block;
  margin-left: 16px;
}

.country_code {
  margin: 4px 0 0 4px;
  font-size: 10px;
  color: #606060;
  align-self: start;
}

/* center */
.center {
  display: flex;
  flex: 0 1 728px;
  max-width: 728px;
  margin-left: 40px;
}

/* right */
.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  min-width: 225px; /* !!! */
}

/* add video menu */

.add_video_menu {
  position: absolute;
  top: 90%;
  right: 7%;
  padding: 8px 0;
  list-style: none;
  border: var(--border);
  border-top: none;
}

.add_video_item {
  display: flex;
  padding: 0 36px 0 16px;
}

.add_video_link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
}

/* notidfications menu */

.notifications_menu {
  position: absolute;
  top: 90%;
  right: 5%;
  width: 480px;
  height: 642px;
  border: var(--border);
  border-top: none;
}

.notifications_menu_header {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.notifications_menu_header_icon {
  height: 24px;
  width: 24px;
}

.notifications_menu_list {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}

.notifications_menu_list_icon {
  height: 120px;
  width: 120px;
  fill: var(--notification-icon);
  margin: 0 0 24px;
}

.notifications_menu_list p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.notifications_menu_list p:first-of-type {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
