/* left */
.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 90px;
  display: block;
  margin-left: 16px;
}

.country_code {
  margin: 3px 0 0 4px;
  font-size: 10px;
  color: #606060;
  align-self: start;
}
