.container {
  position: sticky;
  top: 56px;
  z-index: 1;
  margin: 0 24px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0 0 0/ 0.1);
  border-bottom: 1px solid rgba(0 0 0/ 0.1);
  background: var(--background);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (width < 792px) {
  .container {
    top: 48px;
    border: none;
  }
}

.arrow_button {
  position: sticky;
  width: 32px;
  height: 32px;
  padding: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--background);
  cursor: pointer;
  flex: 0 0 auto;
}

.left_arrow_button {
  composes: arrow_button;
  left: 0;
}

.right_arrow_button {
  composes: arrow_button;
  right: 0;
}

.left_arrow_button::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255 255 255/ 0) 0%, rgba(255 255 255/ 1) 100%);
}

.right_arrow_button::before {
  content: "";
  position: absolute;
  right: 100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255 255 255/ 0) 0%, rgba(255 255 255/ 1) 100%);
}

.arrow {
  flex: 0 0 auto;
}

/* .arrow_left {
  composes: arrow;
  left: 0;
}

.arrow_right {
  composes: arrow;
  right: 0;
} */
