.container {
  position: sticky;
  display: flex;
  align-items: center;
  top: 56px;
  border-top: 1px solid rgba(0 0 0/ 0.1);
  border-bottom: 1px solid rgba(0 0 0/ 0.1);
  background: var(--modal-menu-background);
  z-index: 1;
  /* overflow-x: auto; */
}

.arrow {
  flex: none;
}
