.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 8px;
  height: 56px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: var(--background);
}

@media (width < 792px) {
  .header {
    padding: 0;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    right: 0;
    height: 48px;
  }
}

/* left */
.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 90px;
  display: block;
  margin-left: 16px;
}

@media (width < 792px) {
  .logo {
    margin-left: 12px;
  }
}

.country_code {
  margin: 4px 0 0 4px;
  font-size: 10px;
  color: #606060;
  align-self: start;
}

/* center */
.center {
  display: flex;
  flex: 0 1 728px;
  max-width: 728px;
  margin-left: 40px;
}

/* right */
.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  min-width: 225px; /* !!! */
}

@media (width < 657px) {
  .right {
    min-width: 0;
  }
}

.searchbar {
  display: flex;
  padding: 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 8px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: var(--background);
}
