.list_item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
}

.link {
  color: black;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.list_item:hover {
  background-color: rgba(0 0 0 / 0.05);
}

.list_item_icon {
  height: 24px;
  width: 24px;
  margin: 0 24px 0 0;
  vertical-align: middle;
}
